* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
}

html {
  height: 100%;
  font-size:  62.5%;
}

body {
  height: 100%;
  padding-bottom: 1.5rem;
  font-size: 1.3rem;
  color: #0F0505;
  background-color: #E4E4E4;
}

/*  Header section */
header {
  padding: 2rem 0;
  margin: 0 auto;
  background-color: #5D0E19;
}

header h1 {
  text-align: center;
  font-size: 3rem;
  line-height: 4rem;
}

header a {
  text-decoration: none;
  color: #E4E4E4;
}

/*  Nav bar */

nav {
  background-color: #212121;
  padding: 1rem 0;
}

nav ul {
  padding: 0;
  margin: 0;
  text-align: center;
}

nav ul li {
  display: inline-block;
  padding: 0 2rem;
  margin: 0 4rem;
}

nav ul li a {
  text-decoration: none;
}

nav ul li a {
  text-decoration: none;
  color: #E0E0E0;
}

/*  Body content */

div .content {
  padding-bottom: 1.5rem;
}

div .post {
  font-size: 1.3rem;
  color: #0F0505;
}

h2 {
  text-align: center;
  font-size: 2rem;
  line-height: 2rem;
}

span .posttitle {
  text-align: center;
  margin-right: 1rem;
  font-size: 2rem;
  line-height: 3rem;
}

.content {
  margin: 0 auto;
  line-height: 1.1em;
  padding: 1.1rem;
  width: 70rem;
}

ul {
  text-align: left;
  margin-left: 2rem;
}

.postdate {
  font-size: 1.2rem;
  font-weight: lighter;
  margin-left: 1rem;
}

.center {
  text-align: center;
  margin: .5rem auto;
  width: 70rem;
}


.boldtext {
  font-weight: bold;
}

.italictext {
  font-style: italic;
}

.spacer {
  width: 96rem;
  margin: 0 auto;
}

/* footer nonsense  */

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #CACACA;
  padding: 1.5rem 1.5rem;
}

footer .text {
  font-size: 1.2rem;
  color: #2A4C33;
}

footer a {
  color: #2A4C33;
}