* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
}

html {
  font-size:  62.5%;
}

body {
  font-size: 1.6rem;
}

header {
  padding: 5.4rem 0;
  margin: 0 auto;
  background-color: #5D0E19
}

header h1 {
  text-align: center;
  font-size: 3rem;
  line-height: 4rem;
}

header a {
  text-decoration: none;
  color: #F1F7E8;
}

nav {
  background-color: #212121;
  padding: 1rem 0;
}

nav ul,
footer ul {
  padding: 0;
  margin: 0;
  text-align: center;
}

nav ul li,
footer ul li {
  display: inline-block;
  padding: 0 2rem;
  margin: 0 4rem;
}

nav ul li a,
footer ul li a {
  text-decoration: none;
}

nav ul li a {
  text-decoration: none;
  color: #E0E0E0
}

.videocenter {
  margin: 3.5rem auto;
  width: 75rem;
}

.imagecenter {
  margin: 3.5rem auto;
  width: 30rem;
  height: 30rem;
}

footer {
  background-color: #CACACA;
  padding: 4.5rem 2.5rem;
}

footer ul li {
  font-size: 1.6rem;
  color: #2A4C33;
}

footer ul li a {
  text-decoration: underline;
  color: #2A4C33;
}