<meta content="Jordan Munson" property="og:site_name">
{% if page.title %}
<meta content="{{ page.title }}" property="og:title">
{% else %}
<meta content="{{ site.name }}" property="og:title">
{% endif %}
{% if page.title %}
<meta content="article" property="og:type">
{% else %}
<meta content="website" property="og:type">
{% endif %}
{% if page.description %}
<meta content="{{ page.description }}" property="og:description">
{% else %}
<meta content="{{ site.description }}" property="og:description">
{% endif %}
{% if page.title %}
<meta content="{{ site.url }}{{ page.url }}/" property="og:url">
{% endif %}
{% if page.date %}
<meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
<meta content="{{ site.author }}" property="article:author">
{% endif %}
{% if page.image %}
<meta content="{{ page.image }}" property="og:image">
{% else %}
<meta content="http://embed.wistia.com/deliveries/b5948e0d569d9d9fd80c9e08a455dbac33129987.bin" property="og:image">
{% endif %}
{% if page.categories %}
{% for category in page.categories limit:1 %}
<meta content="{{ category }}" property="article:section">
{% endfor %}
{% endif %}
{% if page.tags %}
{% for tag in page.tags %}
<meta content="{{ tag }}" property="article:tag">
{% endfor %}
{% endif %}

<meta property="og:type" content="video">
<meta property="og:video:url" content="https://fast.wistia.net/embed/iframe/h6vtja9cyn">
<meta property="og:video:secure_url" content="https://fast.wistia.net/embed/iframe/h6vtja9cyn">
<meta property="og:video:type" content="text/html">
<meta property="og:video:width" content="1280">
<meta property="og:video:height" content="720">
<meta property="og:video:url" content="https://theheaviestmatteroftheuniverse.wistia.com/medias/h6vtja9cyn">
<meta property="og:video:secure_url" content="https://theheaviestmatteroftheuniverse.wistia.com/medias/h6vtja9cyn">
<meta property="og:video:width" content="1280">
<meta property="og:video:height" content="720">