<meta property="og:type" content="video">
<meta property="og:video:url" content="https://fast.wistia.net/embed/iframe/h6vtja9cyn">
<meta property="og:video:secure_url" content="https://fast.wistia.net/embed/iframe/h6vtja9cyn">
<meta property="og:video:type" content="text/html">
<meta property="og:video:width" content="1280">
<meta property="og:video:height" content="720">
<meta property="og:video:url" content="https://theheaviestmatteroftheuniverse.wistia.com/medias/h6vtja9cyn">
<meta property="og:video:secure_url" content="https://theheaviestmatteroftheuniverse.wistia.com/medias/h6vtja9cyn">
<meta property="og:video:type" content="application/x-shockwave-flash">
<meta property="og:video:width" content="1280">
<meta property="og:video:height" content="720">